        html {
            scroll-behavior: smooth;
        }
        
        #bodyindex {
            height: 320vh;
            background: linear-gradient(rgb(58, 58, 58), rgb(39, 39, 39));
            /* Animation til fadein når man loader hjemmesiden */
            /* Safari, Chrome and Opera > 12.1 */
            -webkit-animation: fadein 2s;
            /* Firefox < 16 */
            -moz-animation: fadein 2s;
            /* Internet Explorer */
            -ms-animation: fadein 2s;
            /* Opera < 12.1 */
            -o-animation: fadein 2s;
            animation: fadein 2s;
        }
        /* Fadein animation til tekst */
        
        @keyframes fadein {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        /* Firefox < 16 */
        
        @-moz-keyframes fadein {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        /* Safari, Chrome and Opera > 12.1 */
        
        @-webkit-keyframes fadein {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        /* Internet Explorer */
        
        @-ms-keyframes fadein {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        /* Opera < 12.1 */
        
        @-o-keyframes fadein {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        
        #bodyabout {
            height: 100vh;
            width: 100vw;
            background: linear-gradient(rgb(46, 46, 46), rgb(39, 39, 39));
            /* Safari, Chrome and Opera > 12.1 */
            -webkit-animation: fadein 2s;
            /* Firefox < 16 */
            -moz-animation: fadein 2s;
            /* Internet Explorer */
            -ms-animation: fadein 2s;
            /* Opera < 12.1 */
            -o-animation: fadein 2s;
            animation: fadein 2s;
        }
        /* Styling for de tre sider */
        
        .container {
            position: absolute;
            height: 100vh;
            scroll-snap-type: y mandatory;
            overflow-y: scroll;
        }
        
        section {
            height: 100vh;
            width: 100vw;
            position: relative;
            scroll-snap-align: start;
        }
        
        .sec2p {
            font-family: silk-serif;
            font-size: 4vh;
            color: rgb(197, 197, 197);
            text-align: center;
            position: relative;
            right: 0%;
            top: 5%;
            margin: 5vw;
        }
        
        .sec3p {
            font-family: sans-serif;
            color: rgb(150, 150, 150);
            position: absolute;
            left: 77%;
            top: 35%;
            width: 20%;
            font-size: 3vh;
            line-height: 1.5;
            text-align: left;
        }
        
        #one,
        #two {
            text-align: center;
        }
        /* Styling af "about us" knap */
        
        #aboutus {
            position: fixed;
            left: 90%;
            bottom: 2%;
            z-index: 1;
            font-family: sans-serif;
            color: rgb(197, 197, 197);
            text-decoration: none;
        }
        
        #aboutus:visited {
            color: rgb(197, 197, 197);
        }
        
        #aboutus:hover {
            color: rgb(187, 187, 187);
        }
        /* Styling af tekst i aboutus.html */
        
        #tekstaboutus {
            text-align: center;
            position: relative;
            top: 5%;
            margin-left: 25%;
            margin-right: 25%;
            font-family: silk-serif;
            font-size: 3.5vh;
            color: rgb(197, 197, 197);
            line-height: 1.5em;
        }
        /* Styling af "goback" knap i aboutus.html */
        
        #gobacklink {
            font-size: 4vh;
            color: rgb(197, 197, 197);
            text-decoration: none;
            color: #00A85F;
            font-weight: bold;
            font-family: Helvetica;
            position: relative;
            top: 8%;
            text-align: center;
            left: 37%;
        }
        
        #gobacklink:hover {
            color: #00ce75;
        }
        /* Styling for JA/NEJ (juhu/fucked) knapperne */
        
        .janej {
            display: inline-block center;
            width: 20%;
            height: 10%;
            border: none;
            font-size: 4vh;
            font-family: sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 20px;
            padding: 6px;
            transition-duration: 0.4s;
            cursor: pointer;
            margin: 10px;
            z-index: 1;
        }
        
        .janej:active {
            box-shadow: 0 1px #666;
            transform: translateY(2px);
        }
        
        #fuckedknapsec1 {
            background-color: rgb(218, 0, 0);
            color: blanchedalmond;
            position: relative;
            top: 20%;
            left: 0.8%;
        }
        
        #juhuknapsec1 {
            background-color: rgb(74, 185, 0);
            color: blanchedalmond;
            position: relative;
            top: 20%;
            left: 0.8%;
        }
        
        #fuckedknapsec2 {
            background-color: rgb(218, 0, 0);
            color: blanchedalmond;
            position: relative;
            top: 0%;
            left: 0.8%;
        }
        
        #juhuknapsec2 {
            background-color: rgb(74, 185, 0);
            color: blanchedalmond;
            position: relative;
            top: 0%;
            left: 0.8%;
        }
        
        #juhuknapsec1:hover {
            background-color: rgb(93, 233, 0);
        }
        
        #juhuknapsec2:hover {
            background-color: rgb(93, 233, 0);
        }
        
        #fuckedknapsec1:hover {
            background-color: rgb(255, 36, 36);
        }
        
        #fuckedknapsec2:hover {
            background-color: rgb(255, 36, 36);
        }
        /* Styling for teksten på side 1 */
        
        #overskrift {
            font-family: silk-serif;
            font-size: 6vh;
            color: rgb(197, 197, 197);
            text-align: center;
            position: relative;
            top: 25%;
            margin-left: 15%;
            margin-right: 15%;
        }
        
        #overskriftlille {
            font-size: 5vh;
            font-weight: lighter;
        }
        
        #fortaelmere {
            font-size: 2.5vh;
            color: rgb(197, 197, 197);
            font-family: silk-serif;
            position: relative;
            top: 48%;
            left: 2vh;
        }
        /* Styling for SVG og alt der hører til den */
        
        svg {
            position: absolute;
            left: 21%;
            top: 12%;
            width: 55%;
            height: 87%
        }
        
        .y-axis {
            stroke-width: 3px;
            color: rgba(122, 122, 122, 0.3);
            font-size: 15px;
        }
        
        .x-axis {
            stroke-width: 3px;
            color: rgb(122, 122, 122);
            font-size: 18px;
            font-weight: bold;
            font-family: Helvetica;
        }
        
        .lines {
            fill: none;
            stroke-width: 5px;
            stroke-linecap: round;
        }
        
        .labelsAxis {
            stroke-width: 3px;
            color: rgb(122, 122, 122);
            font-size: 16px;
            font-weight: bold;
            font-family: Helvetica;
            fill: rgb(122, 122, 122);
        }
        
        .statsLabels {
            font-family: "Helvetica";
            font-size: 1.5vh;
            font-weight: bold;
        }
        
        .co2årstallabel {
            stroke-width: 3px;
            color: rgb(122, 122, 122);
            font-size: 16px;
            font-weight: bold;
            font-family: Helvetica;
            fill: rgb(122, 122, 122);
        }
        
        .graftitle {
            fill: #00A85F;
            font-size: x-large;
            font-family: Helvetica;
            font-weight: bold;
        }
        
        .kildeTekst {
            fill: rgba(83, 83, 83, 0.856);
            font-family: Helvetica;
        }
        /* Styling til teksten på side 3 */
        
        .procentfarve {
            color: #00A85F;
            font-size: 4vh;
            font-weight: bold;
        }
        /* Styling til CO2 pr land/capita knapperne */
        
        .co2knap {
            background-color: #00A85F;
            border: 1px solid black;
            color: blanchedalmond;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            font-family: Helvetica;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 4px;
            transition-duration: 0.4s;
            width: 6vw;
            cursor: pointer;
            position: relative;
            margin-left: 1vh;
            margin-right: 1vh;
            height: 5vh;
        }
        
        .co2knap:hover {
            background-color: #00ce75;
        }
        
        .sorteringcontainer {
            border: solid 2px rgb(19, 19, 19);
            background-color: rgb(58, 58, 58);
            border-radius: 2vh;
            width: 15%;
            position: absolute;
            top: 10%;
            left: 4.5%;
            padding: 1vh;
        }
        /* Styling til knapperne fra fra- og tilvælger landene */
        
        .landecontainer {
            border: solid 2px rgb(19, 19, 19);
            background-color: rgb(58, 58, 58);
            border-radius: 2vh;
            width: 10vw;
            position: relative;
            top: 20%;
            left: 7%;
            padding: 1vh;
            height: 70vh;
        }
        
        div label input {
            margin-right: 100px;
        }
        
        input {
            display: none;
        }
        
        .ck-button {
            background-color: rgb(87, 87, 87);
            color: white;
            border-radius: 4px;
            border: 1px solid black;
            height: 6.5%;
            margin-bottom: 2vh;
            margin-top: 2vh;
        }
        
        .ck-button:hover {
            background-color: rgb(114, 114, 114);
        }
        
        .ck-button label span {
            text-align: center;
            display: block;
            font-family: Helvetica;
            font-size: 1.6vh;
            border-radius: 4px;
            height: 4.5vh;
            line-height: 5vh;
            text-transform: uppercase;
            cursor: pointer;
        }
        
        .ck-button label input {
            position: absolute;
            top: -20px;
        }
        
        #China input:checked+span {
            background-color: #BE0000;
            color: #fff;
        }
        
        #Japan input:checked+span {
            background-color: #069AE0;
            color: #fff;
        }
        
        #UnitedStates input:checked+span {
            background-color: #1068FF;
            color: #fff;
        }
        
        #EU-27 input:checked+span {
            background-color: #FF960D;
            color: #fff;
        }
        
        #Russia input:checked+span {
            background-color: #E0E800;
            color: rgb(69, 69, 69);
        }
        
        #Brazil input:checked+span {
            background-color: #E022A0;
            color: #fff;
        }
        
        #Germany input:checked+span {
            background-color: #69E307;
            color: rgb(69, 69, 69);
        }
        
        #Denmark input:checked+span {
            background-color: #FFFFFF;
            color: black;
        }
        
        #India input:checked+span {
            background-color: #05DFD7;
            color: rgb(69, 69, 69);
        }
        
        #Indonesia input:checked+span {
            background-color: #01FF8C;
            color: rgb(69, 69, 69);
        }
        /* Styling til scroll-down knappen  */
        
        .scroll-down {
            height: 50px;
            width: 30px;
            position: absolute;
            bottom: 10%;
            left: 50%;
            border-radius: 50px;
        }
        
        .scroll-down::before,
        .scroll-down::after {
            content: '';
            position: absolute;
            top: 20%;
            left: 50%;
            border: 2px solid rgb(197, 197, 197);
            height: 10px;
            width: 10px;
            transform: translate(-50%, -100%) rotate(45deg);
            border-top: transparent;
            border-left: transparent;
            animation: scroll-down 1s ease-in-out infinite;
        }
        
        .scroll-down::after {
            top: 30%;
            animation-delay: .3s;
        }
        
        @keyframes scroll-down {
            0% {
                opacity: 0;
            }
            30% {
                opacity: 1;
            }
            60% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                top: 90%;
            }
        }
        /* Styling til scroll-up knappen */
        
        .scroll-up {
            height: 50px;
            width: 30px;
            position: absolute;
            /*transform: translateX(-50%);*/
            top: 5%;
            left: 50%;
            border-radius: 50px;
        }
        
        .scroll-up::before,
        .scroll-up::after {
            content: '';
            position: absolute;
            top: 90%;
            left: 50%;
            border: 2px solid rgb(197, 197, 197);
            height: 10px;
            width: 10px;
            transform: translate(-50%, -100%) rotate(45deg);
            border-bottom: transparent;
            border-right: transparent;
            animation: scroll-up 1s ease-in-out infinite;
        }
        
        .scroll-up::after {
            top: 80%;
            animation-delay: .3s;
        }
        
        @keyframes scroll-up {
            0% {
                opacity: 0;
            }
            30% {
                opacity: 1;
            }
            60% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                top: 35%;
            }
        }