body {
  background-color: rgb(39, 39, 39);
}
.y-axis {
  stroke-width: 2px;
  color: rgb(122, 122, 122);
  font-size: 15px;
}
.x-axis {
  stroke-width: 3px;
  color: rgb(122, 122, 122);
  font-size: 18px;
  font-family: Helvetica;
  font-weight: bold;
}
h1 {
  font-family: sans-serif;
  font-size: xx-large;
  color: rgb(150, 150, 150);
}
.line-path {
  fill: none;
}
